@import 'variables';

.container {
    background: #E5E5E5;
    width: 100%;
    min-height: 100vh;
    .first-section {
        background: #E5E5E5;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        position: absolute;
        top: 96px;

        @media (max-width: $desktop-medium) {
            flex-direction: column;
        }

        @media (max-width: $phone-medium) {
            padding: 20px;
        }

        .first-section__img {
            width: 505px;
            height: 303px;

            @media (max-width: $phone-medium) {
                width: 100%;
                margin: 20px;
            }
        }
        .first-section__content {
            font-family: 'Roboto';
            font-style: normal;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;

            @media (max-width: $desktop-medium) {
                align-items: center;
            }

            .first-section__heading {
                font-weight: 700;
                font-size: 42px;
                line-height: 50.4px;
                color: $main-color-dark;
            }

            .first-section__description {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                max-width: 380px;

                @media (max-width: $desktop-medium) {
                    text-align: justify;
                }

                @media (max-width: $phone-medium) {
                    padding: 15px;
                }

            }
            .first-section__btn {
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #FFFFFF;
                background-color: $main-color-light;
                padding: 16px 40px;
                border-radius: 32px;
                border: none;
                cursor: pointer;
            }
        }
    }
}